/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Coming+Soon|Raleway");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Raleway", sans-serif;
  background-color: #b8edf6; }

.content ol {
  list-style-type: decimal; }

.content ul {
  list-style-type: disc; }

li {
  margin-left: 16px;
  padding-bottom: .5em; }

p {
  padding-bottom: .5em;
  margin-bottom: 1em;
  padding-top: .5em;
  margin-top: 1em;
  line-height: 1.2em; }

.page {
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.2em; }

.footer {
  clear: both;
  position: relative; }

.footer p {
  width: 80%;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  position: absolute;
  display: inline;
  text-align: center;
  background-color: #b8edf6; }

.title {
  font-family: 'Coming Soon', cursive;
  font-size: 3em;
  position: relative;
  clear: both; }

.content {
  padding-top: 24px; }

.parent-signin h1 {
  color: #177ddf;
  font-size: 2em;
  padding-bottom: .5em;
  padding-top: 1em; }

.parent-signin {
  float: left;
  font-size: 1.2em; }

.staff-signin h1 {
  color: #177ddf;
  font-size: 2em;
  padding-bottom: .5em;
  padding-top: 1em; }

.staff-signin {
  float: right;
  font-size: 1.2em; }

.nav-link {
  width: 100%;
  float: right;
  clear: both;
  border-bottom: 5px solid #177ddf;
  margin-bottom: 2em;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.nav-link li {
  float: right;
  padding: 1.5em;
  font-family: "Coming Soon", cursive;
  font-size: 1.5em; }

.nav-link li:hover {
  color: #c6de16; }

.logo {
  float: left;
  width: 100px;
  padding: 10px; }

.eyebrow {
  margin-top: 1em;
  float: right; }

.eyebrow li {
  color: #177ddf;
  float: left;
  padding-right: 2em;
  font-family: "Raleway", sans-serif; }

.eyebrow li:hover {
  color: #c6de16; }

.post-title {
  font-size: 1.6em;
  line-height: 1.6em;
  color: #ee672f;
  padding-top: 24px; }

.post-image {
  width: 100%;
  max-height: 250px;
  margin: 0 auto; }

.post-date {
  padding-top: 2%;
  padding-bottom: 2%; }

.post-body {
  float: left;
  width: 70%;
  border-right: 3px solid rgba(23, 125, 223, 0.3);
  padding-right: 7%; }

.post-sidebar {
  font-family: "Raleway", sans-serif;
  float: right;
  width: 20%;
  font-size: 1.2em;
  line-height: 1.2em;
  padding-left: 2%;
  margin-top: 16px; }

.post-sidebar input {
  margin-top: 20px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Raleway", sans-serif;
  font-size: .8em;
  border-radius: 5px; }

.sign-up-form {
  padding-top: 2em;
  color: #ee672f;
  font-size: 1.2em;
  line-height: 1em; }

.sign-up-form .submit-button {
  background-color: #ee672f; }

.post-summary {
  padding: 2% 0%;
  font-size: 1.1em;
  line-height: 1.1em; }

.read-more {
  padding: 2% 0%;
  font-size: 1.1em;
  line-height: 1.1em; }

.post-story p {
  line-height: 1.2em;
  font-size: 1em;
  padding-bottom: 16px; }

.read-it {
  height: 24px;
  color: #ee672f; }

.post-story ol {
  list-style-type: decimal;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 16px; }

.post-story ul {
  list-style-type: disc;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 16px; }

.post-story li {
  padding-bottom: 16px; }

/*# sourceMappingURL=style.css.map */
