body{
    font-family: $bodyfont;
    background-color: $lightblue;
}

h1{
  font-size: 1em;
}

.page h3{
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.content ol{
  list-style-type: decimal;
}

.content ul{
  list-style-type: disc;
}

 li{
  margin-left: 16px;
  padding-bottom: .5em;
}

  p{
  padding-bottom: .5em;
  margin-bottom: 1em;
  padding-top: .5em;
  margin-top: 1em;
  line-height: 1.2em;

}
.page {
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.2em;
}

.footer {
  clear: both;
  position: relative;
}

.footer p{
  width: 80%;
  padding: 40px;
  font-family: $bodyfont;
  position: absolute;
  display: inline;
  text-align: center;
  background-color: $lightblue;
}

.title{
  font-family: 'Coming Soon', cursive;
  font-size: 3em;
  position: relative;
  clear: both;
}

.content{
  padding-top: 24px;
}

.parent-signin h1{
  color: $darkblue;
  font-size: 2em;
  padding-bottom: .5em;
  padding-top: 1em;
}

.parent-signin{
  float: left;
  font-size: 1.2em;
}

.staff-signin h1{
  color: $darkblue;
  font-size: 2em;
  padding-bottom: .5em;
  padding-top: 1em;
}

.staff-signin{
  float: right;
  font-size: 1.2em;
}

.home-img{
  width: 60%;
  float: left;
}

.home-img img{
  max-width: 100%;
}

.home-content{
  width: 36%;
  float: right;
}

.home-content p{
  padding-left: 2%;
}
