body{
    font-family: $bodyfont;
    background-color: $lightblue;
}

.page {
  max-width: 80%;
  margin: 0 auto;
}

.footer {
  clear: both;
  position: relative;
}

.footer p{
  width: 80%;
  padding: 40px;
  font-family: $bodyfont;
  position: absolute;
  display: inline;
  text-align: center;
  background-color: $lightblue;
}

.title{
  font-family: 'Coming Soon', cursive;
  font-size: 3em;
  position: relative;
  clear: both;
}

.content{
  padding-top: 24px;
}
