.nav-link {
  width: 100%;
  float: right;
  clear: both;
  border-bottom: 5px solid $darkblue;
  margin-bottom: 2em;
  margin-top: 2em;
  background-color: rgba(255,255,255,.3);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.nav-link li{
float: right;
  padding: 1.5em;
  font-family: $headerfont;
  font-size: 1.5em;
}
.nav-link li:hover{
  color: $green;
}

.logo{
  float:left;
  width: 100px;
  padding:10px;
}

.menu {
  display: none;
}
.eyebrow {
  margin-top: 1em;
  float: right;
}

.eyebrow li{
  color: $darkblue;
  float: left;
  padding-right: 2em;
  font-family: $bodyfont;
}

.eyebrow li:hover{
  color: $green;
}

.media-logo {
  display: none;
}


@media (max-width:1400px){
  .nav-link li{
    padding: 5px;
    padding-top: 35px;
  }
}

@media (max-width:920px){
  .nav-link li{
    font-size: 1em;
    padding: 5px;
    padding-top: 35px;
  }
  .home-img{
    width: 100%;
    margin: 0 auto;
    // float: none;
  }
  .home-content{
    width: 100%;
    margin: 0 auto;
    // float: none;
  }
}
@media (max-width:850px) {
  .nav-link{
  float:none;
  border-bottom: none;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  }
  .nav-link li{
    float: none;
    padding: 5px;
    font-size: 1em;
    margin: 0 auto;
  }
  .media-logo {
    display: block;
    width: 80px;
    margin: 0 auto;
  }

  .logo{
    display: none;
  }

  .title {
    padding-top: 20px;
    text-align: center;
  }

  h3{
    text-align: center;
  }
}
