@media (max-width:1400px){
  .nav-link li{
    padding: 5px;
    padding-top: 35px;
  }
}

@media (max-width:920px){
  .nav-link li{
    font-size: 1em;
    padding: 5px;
    padding-top: 35px;
  }
  .home-img{
    width: 100%;
    margin: 0 auto;
    // float: none;
  }
  .home-content{
    width: 100%;
    margin: 0 auto;
    // float: none;
  }
  .post-sidebar{
    font-size: 1em;
    text-align: center;
  }
}
@media (max-width:850px) {
  .nav-link{
  float:none;
  border-bottom: none;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  }
  .nav-link li{
    float: none;
    padding: 5px;
    font-size: 1em;
    margin: 0 auto;
  }
  .media-logo {
    display: block;
    width: 80px;
    margin: 0 auto;
  }

  .logo{
    display: none;
  }

  .title {
    padding-top: 20px;
    text-align: center;
    color: $darkblue;
  }

  h3{
    text-align: center;
  }
  .post-body{
    border: none;
    width: 100%;
    margin-bottom: 30px;

  }

  .post-sidebar{
    display: none;
  }

  .post-categories{
    display: inline;
  }

  .submit-button{
    margin-left:10px;
  }

  .post-story{
    border-bottom: 1px solid $orange;
  }
}
